In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Loading dataset
* Dataset from the url link mention below
* assigning the column name beacause the dataset file doesnot have columns (I refered the respective webiste to fill columns)
* describe the data

In [32]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data"

col = ['id', 'clump_thickness', 'uniform_cell_size', 'uniform_cell_shape',
       'marginal_adhesion', 'single_epithelial_size', 'bare_nuclei',
       'bland_chromatin', 'normal_nucleoli', 'mitoses', 'class']
data = pd.read_csv(url, names=col)

In [33]:
data.head(10)

,id,clump_thickness,uniform_cell_size,uniform_cell_shape,marginal_adhesion,single_epithelial_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
5,1017122,8,10,10,8,7,10,9,7,1,4
6,1018099,1,1,1,1,2,10,3,1,1,2
7,1018561,2,1,2,1,2,1,3,1,1,2
8,1033078,2,1,1,1,2,1,1,1,5,2
9,1033078,4,2,1,1,2,1,2,1,1,2

In [34]:
data.describe()

,id,clump_thickness,uniform_cell_size,uniform_cell_shape,marginal_adhesion,single_epithelial_size,bland_chromatin,normal_nucleoli,mitoses,class
count,6.990000e+02,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000
mean,1.071704e+06,4.417740,3.134478,3.207439,2.806867,3.216023,3.437768,2.866953,1.589413,2.689557
std,6.170957e+05,2.815741,3.051459,2.971913,2.855379,2.214300,2.438364,3.053634,1.715078,0.951273
min,6.163400e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,8.706885e+05,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000
50%,1.171710e+06,4.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000,2.000000
75%,1.238298e+06,6.000000,5.000000,5.000000,4.000000,4.000000,5.000000,4.000000,1.000000,4.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [35]:
data.dtypes

id                         int64
clump_thickness            int64
uniform_cell_size          int64
uniform_cell_shape         int64
marginal_adhesion          int64
single_epithelial_size     int64
bare_nuclei               object
bland_chromatin            int64
normal_nucleoli            int64
mitoses                    int64
class                      int64
dtype: object

# Data preprocessing
* Find the count of null rows and with respect to columns
* Check if any other symbols consist 
* Delete unwanted columns

In [36]:
data.isnull().sum()

id                        0
clump_thickness           0
uniform_cell_size         0
uniform_cell_shape        0
marginal_adhesion         0
single_epithelial_size    0
bare_nuclei               0
bland_chromatin           0
normal_nucleoli           0
mitoses                   0
class                     0
dtype: int64

In [37]:
data.replace("?", -999, inplace=True)
data.axes

[RangeIndex(start=0, stop=699, step=1),
 Index(['id', 'clump_thickness', 'uniform_cell_size', 'uniform_cell_shape',
        'marginal_adhesion', 'single_epithelial_size', 'bare_nuclei',
        'bland_chromatin', 'normal_nucleoli', 'mitoses', 'class'],
       dtype='object')]

In [38]:
# droping the id columns
data.drop(['id'], 1, inplace=True)

In [40]:
# Basic preprocessing is done, Now we dont have any null set so moving to SVM

# SVM
* Taking the X and Y variables
* Train test and split
* calculate accuray and prediction
* In this exercice i dont have test data, SO at the end i assuming some variables on my own and predicting is you get test done you can import that and do prediction

In [41]:
X = data.drop(["class"], axis=1)
y = data["class"]

In [43]:
import sklearn.metrics
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.20)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((559, 9), (140, 9), (559,), (140,))

In [44]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

## We use KNN and SVM and compare the result

In [ ]:
models = []
models.append(("KNN", KNeighborsClassifier(n_neighbors=5)))
models.append(("SVM", SVC()))

result = []
model_name = []

for name, model in models:
    kfold = model_selection.KFold(n_splits=10, random_state=8, shuffle=True)
    cv = model_selection.cross_val_score(model, X_train, y_train, cv=kfold, scoring="accuracy")
    result.append(cv)
    model_name.append(name)
    print("%s: %f " % (name, cv.mean()))

## Make prediction on validation dataset

In [72]:
for name, model in models:
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    classifier = classification_report(y_test, y_pred)
    print(name,classifier,"\nModel accuracy: ",accuracy,"\n")

KNN               precision    recall  f1-score   support

           2       0.97      0.98      0.97        86
           4       0.96      0.94      0.95        54

    accuracy                           0.96       140
   macro avg       0.96      0.96      0.96       140
weighted avg       0.96      0.96      0.96       140

Model accuracy:  0.9642857142857143

SVM               precision    recall  f1-score   support

           2       0.91      0.99      0.95        86
           4       0.98      0.85      0.91        54

    accuracy                           0.94       140
   macro avg       0.95      0.92      0.93       140
weighted avg       0.94      0.94      0.93       140

Model accuracy:  0.9357142857142857

## Prediction
* As aforemention i dont have test dataset to do prediction so assuming the number for each features and predicting
* If you have test data please import that and apply prediction
* I use SVC (you can use both and do predict)

In [84]:
model = SVC()
model.fit(X_train, y_train)

feature_value = np.array([[4,2,1,1,1,2,3,2,1]])
feature_value.reshape(len(feature_value), -1)
print(model.predict(feature_value))

[2]